@font-face {
  font-family: "Neon80s";
  src: url("../fonts/neon80s.ttf");
  font-weight: bold;
}
/* line 1, ../sass/partials/_general.scss */
html,
body {
  overscroll-behavior-y: none;
}

/* line 6, ../sass/partials/_general.scss */
body {
  font-family: "Neon 80s", Arial, sans-serif;
  color: #00cfff;
  padding: 0;
  margin: 0;
  background-color: #1a012d;
  overflow: hidden;
}

/* line 16, ../sass/partials/_general.scss */
.state-login .login {
  display: block;
}
/* line 19, ../sass/partials/_general.scss */
.state-login .controller {
  display: none;
}

/* line 25, ../sass/partials/_general.scss */
.state-game .login {
  display: none;
}
/* line 28, ../sass/partials/_general.scss */
.state-game .controller {
  display: block;
}

/* line 1, ../sass/partials/_login.scss */
h1 {
  color: #00cfff;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 8, ../sass/partials/_login.scss */
.login {
  background-image: url("../img/background-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  transition: 0.4s display;
}

/* line 17, ../sass/partials/_login.scss */
.login-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
}
/* line 24, ../sass/partials/_login.scss */
.login-container .form__connexion {
  margin: 100px auto;
  padding: 40px 0;
  width: 80%;
}
/* line 30, ../sass/partials/_login.scss */
.login-container .form__group {
  margin: 0 auto 10px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(26, 1, 45, 0.7);
  padding: 10px 10px 5px;
  border-bottom: 2px solid #00cfff;
}
/* line 37, ../sass/partials/_login.scss */
.login-container .form__group:not(:first-child) {
  margin-top: 20px;
}
/* line 42, ../sass/partials/_login.scss */
.login-container .form__text {
  color: #00cfff;
  display: block;
  font-size: 1.66667rem;
}
/* line 48, ../sass/partials/_login.scss */
.login-container .form__input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  padding: 5px 0;
  color: #00cfff;
  font-size: 1.11111rem;
  font-family: "Neon80s", Arial, sans-serif;
}
/* line 58, ../sass/partials/_login.scss */
.login-container .form__input#roomID {
  text-transform: uppercase;
}
/* line 63, ../sass/partials/_login.scss */
.login-container .form__btn {
  font-family: "Neon80s", Arial, sans-serif;
  background-color: #00cfff;
  border: none;
  color: white;
  padding: 20px;
  width: 100%;
  font-size: 1.66667rem;
  text-transform: uppercase;
}

/* line 76, ../sass/partials/_login.scss */
.creators {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  color: #00cfff;
  font-size: 2.22222rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

/* line 1, ../sass/partials/_controller.scss */
.controller {
  transition: 0.4s display;
  height: 100vh;
  width: 100vw;
}
/* line 6, ../sass/partials/_controller.scss */
.controller .controller__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1.11111rem 0;
  box-sizing: border-box;
}
/* line 16, ../sass/partials/_controller.scss */
.controller .leftController {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
/* line 22, ../sass/partials/_controller.scss */
.controller .leftController .disconnect_btn {
  width: 40%;
}
/* line 26, ../sass/partials/_controller.scss */
.controller .leftController .fireBtn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  border: none;
  font-size: 1.66667rem;
}
/* line 36, ../sass/partials/_controller.scss */
.controller .middleController {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  text-align: center;
}
/* line 42, ../sass/partials/_controller.scss */
.controller .middleController .username,
.controller .middleController .rank {
  margin: 0 0 1.11111rem 0;
  font-size: 1.66667rem;
}
/* line 48, ../sass/partials/_controller.scss */
.controller .middleController .lifes {
  font-size: 1.66667rem;
}
/* line 52, ../sass/partials/_controller.scss */
.controller .middleController .lifeNumber {
  font-size: 100px;
}
/* line 58, ../sass/partials/_controller.scss */
.controller .rightController .btn__container {
  border: 1px solid #00cfff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 66, ../sass/partials/_controller.scss */
.controller .rightController .joystick {
  border-radius: 0;
  margin: 5px;
  width: 90vh;
  height: 90vh;
  position: relative;
  background: none;
  border: none;
  outline: none;
}
/* line 77, ../sass/partials/_controller.scss */
.controller .rightController .joystick__btn {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  display: none;
}
/* line 89, ../sass/partials/_controller.scss */
.controller .rightController .cross {
  width: 90%;
  height: 90%;
  display: none;
}
/* line 93, ../sass/partials/_controller.scss */
.controller .rightController .cross svg {
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/_room.scss */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 9, ../sass/partials/_room.scss */
#room_id {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40vw;
  color: black;
  margin: 0;
}

/* line 19, ../sass/partials/_room.scss */
#scoreboard {
  top: 0;
  left: 20px;
  position: fixed;
  color: white;
}

/* line 26, ../sass/partials/_room.scss */
#scoreboard .score-wrapper span {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

/* line 32, ../sass/partials/_room.scss */
#scoreboard .score-wrapper span p {
  margin: 8px 0;
}
