html,
body {
	overscroll-behavior-y: none;
	overflow: hidden;
}

body {
	font-family: "Neon 80s", Arial, sans-serif;
	color: $light-blue;
	padding: 0;
	margin:0;
	background-color: $deep-blue;
}

.state-login {
	.login {
		display: block;
	}
	.controller {
		display: none;
	}
}

.state-game {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;

	.login {
		display: none;
	}
	.controller {
		display: block;
	}
}